<script type="text/javascript" src="/js/manageMap/coordonatesLocation.js"></script>
<div class="row">
    <div class="span12">
        <div class="widget stacked">
            <div class="widget-header">
                <i class="icon-pencil"></i>
                <h3 data-i18n="mapPage.title"></h3>
            </div><!-- /widget-header -->
            <div class="widget-content">
                {% include 'assets/loader.html.twig'  with {'divId' : 'locationForm'} %}
                {% include 'assets/messages.html.twig' with { 'divId': 'locationForm', 'error': error} %}
                {% if view.address is empty %}
                    <span data-i18n="mapPage.tip_location"></span>
                {% endif %}
                <div id="panel">
                    <button id="addLocation" class="btn btn-medium btn-primary" data-i18n="mapPage.addLocation"
                            onclick='addMarker(); this.remove();  $("#saveLocation").css("display", "inline");'></button>
                    <button id="saveLocation" class="btn btn-medium btn-primary" data-i18n="mapPage.saveLocation"
                            style="display: none;" onclick="saveLocation();"></button>
                    <br/>
                    <input type="text" class="input-xxlarge" style="margin-top: 10px;" name="locationAddress"
                           id="locationAddress" value="{{ view.address }}"/>
                    <button id="findLocation" class="btn btn-medium btn-primary" data-i18n="mapPage.findLocation"
                            onclick="updateLocationFromText();"></button>
                </div>
                <br/>
                <div id="map-canvas" style="height: 500px; width: 550px;"></div>
                <input type="hidden" name="locationLat" id="locationLat" value="{{ view.locationLat }}">
                <input type="hidden" name="locationLng" id="locationLng" value="{{ view.locationLng }}">
                <input type="hidden" name="address" id="address" value="{{ view.address }}">
            </div><!-- widget-content -->
        </div> <!-- widget stacked -->
    </div> <!-- span12-->
</div><!-- row -->