<div class="subnavbar">

    <div class="subnavbar-inner">

        <div class="container">

            <a class="btn-subnavbar collapsed" data-toggle="collapse" data-target=".subnav-collapse">
                <i class="icon-reorder"></i>
            </a>

            <div class="subnav-collapse collapse">
                <ul class="mainnav active">

                    <li class="{{ add_restaurant }}">
                        <a href="/superadmin/add_restaurant">
                            <i class="shortcut-icon icon-user"></i>
                            <span data-i18n="mainnav.add_restaurant">Add Restaurants</span>
                        </a>
                    </li>

                    <li class="{{ restaurants }}" style="position:relative">
                        <a href="/superadmin/restaurants">
                            <i class="icon-list-alt"></i>
                            <span data-i18n="mainnav.restaurants">Restaurants</span>
                        </a>
                    </li>

                </ul>
            </div>
            <!-- /.subnav-collapse -->

        </div>
        <!-- /container -->

    </div>
    <!-- /subnavbar-inner -->

</div> <!-- /subnavbar -->
</div> <!-- /navbar -->