<div class="row">
    {% include 'stats/orders_and_customers.html.twig' with { 'view': view} %}
</div><!-- row -->
<div class="row">
    {% include 'stats/best_selling_products.html.twig' with { 'view': view} %}
    {% include 'stats/best_customers.html.twig' with { 'view': view} %}
</div><!-- row -->